body{background:#363636 url(../images/login_bg.jpg) repeat top center;}
.main_container{margin:auto; font-size:12px; font-family:"Times New Roman"; color:#333333; width:1000px;}
.heading{padding-top:80px; font-size:36px; color:#FFFFFF; text-shadow:#FFFFCC 1px 1px 1px; text-align:center;}
.err_msg_div{ width:320px; font-size:12px; font-weight:bold; color:#00CC66; background:#000000 url(../images/information.png) no-repeat 2% 50%; border-radius:4px; height:30px; line-height:30px;}
.msg_div{font-size:12px; font-weight:bold; color:#FF3366;}
.lebel{font-size:18px; color:#FFFFFF; text-align:right; font-family:"Century Schoolbook"; font-weight:bold;}
.txt_box{
	background:url(../images/inp_login.gif) no-repeat;
	border: none;
	color: #fff;
	font-size: 16px;
	height: 28px;
	padding: 6px 6px 0 10px;
	width: 204px;
}